<!DOCTYPE html>
<html lang="en-US">

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script> -->

<link rel="stylesheet" href="main.css">

<body>

    <div ng-app="todoAngularSDC" ng-controller="mainCtrl as vm" class="container" data-ng-init="init()">
        <!-- <h1>{{vm.hello}}</h1> -->
        <h1>Todo List</h1>
        <!-- <h1>{{vm.hello.hi | plural}}</h1> -->
        <input type="text" ng-model="vm.newTask" id="taskText">
        <button id="submitButton" ng-click="vm.createTask()">Create</button>
        <ul>
            <li class="taskDiv" ng-repeat="task in vm.tasks">
                <button type="button" class="delete" ng-click="vm.deleteTask(task)">Delete Task</button>

                <p class="taskTitle" ng-model="task.title" ng-class="{'completed': task.status == true,'incompleted': task.status == false }">{{task.title}}</p>
                <!-- <p>{{task.status}}</p> -->
                <input type="checkbox" name="isCompleted" class="isCompleted" ng-model="task.status">
            </li>
        </ul>

        <!-- <button ng-click="vm.alert()"></button>
        <li ng-repeat="y in vm.posts">
            <h1>{{y.title}}</h1>
            <p>{{y.body}}</p>
        </li> -->

    </div>

</body>
<script src="app.js"></script>

</html>