body {
  background: black;
  color: white;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  /* font-size: 2em; */
  text-align: center;
}

input[type="text"] {
  background-color: black;
  width: 60%;
  height: 50%;
  font-size: 3em;
  text-align: center;
  color: white;
  outline: none;
  border-top: 0;
  border-right: 0;
  border-bottom: 5px solid white;
  border-left: 0;
  /* margin-bottom: 50px; */
}
input[type="text"]:focus {
  outline: none;
}

ul {
  margin: 0;
  padding: 0;
}
li {
  overflow-y: auto;
  width: 60%;
  list-style: none;
  font-size: 2em;
  /* border: 1px solid grey; */
  /* box-shadow: 2px 2px 2p #999; */
  margin: 5px auto;
  /* padding: 10px; */
}

.button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  /* show a hand cursor on hover; some argue that we
  should keep the default arrow cursor for buttons */
  cursor: pointer;
}

.completed {
  text-decoration: line-through;
  /* font-size: 0.8em; */
}

.taskDiv {
  display: flex;
  justify-content: space-between;
}

.delete {
  border: 0;
  border-radius: 0.25rem;
  background: #ff000056;
  color: white;
  font-family: system-ui, sans-serif;
  font-size: 1rem;
  line-height: 1.2;
  white-space: nowrap;
  text-decoration: none;
  padding: 0.25rem 0.5rem;
  margin: 0.25rem;
  /* margin-left: -1em; */
  position: relative;
  /* left: -20px; */
  cursor: pointer;
}

.checkBox {
  /* border: solid red 2px; */
  margin-right: 50px;
  margin-top: 40px;
}
