/* body {
  background: black;
  color: white;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 2em;
  text-align: center;
} */

input[type="text"] {
  background-color: black;
  width: 60%;
  height: 50%;
  font-size: 3em;
  text-align: center;
  color: white;
  outline: none;
  border-top: 0;
  border-right: 0;
  border-bottom: 5px solid white;
  border-left: 0;
  /* margin-bottom: 50px; */
}
input[type="text"]:focus {
  outline: none;
}

.listDiv {
  display: flex;
  flex-direction: row;
}

/* 
#submitButton {
  background-color: black;
  width: 60%;
  height: 50%;
  font-size: 3em;
  color: white;
  outline: none;
  border-top: 0;
  border-right: 0;
  border-bottom: 5px solid white;
  border-left: 0;
  margin-bottom: 50px;
} */
